name: Build Android APK

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.19.0'
          channel: 'stable'
      
      - run: flutter pub get
      
      # Build APK ở chế độ Release (Tối ưu nhất)
      # --no-tree-shake-icons giúp tránh lỗi icon trên một số môi trường
      - run: flutter build apk --release --no-tree-shake-icons
      
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: adb-master-release
          path: build/app/outputs/flutter-apk/app-release.apk
